.App {
  text-align: center;
}
/* .background {
  background-image: url("https://bit.ly/3cXCoIk");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} */
.addFilter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
